:root {
    --fe_blue: #4949f9;
    --fe_green: #8bf0bb;
    --fe_navy: #09092d;
    --fe_gray: #B0B0CD;
    --fe_white: #fcfcfc;
}


/* Icon Up */
@-webkit-keyframes hvr-icon-up {
    0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%, 75% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}

@keyframes hvr-icon-up {
    0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%, 75% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
}
/* Icon Up */
.hvr-icon-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .hvr-icon-up .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .hvr-icon-up:hover .hvr-icon, .hvr-icon-up:focus .hvr-icon, .hvr-icon-up:active .hvr-icon {
        -webkit-animation-name: hvr-icon-up;
        animation-name: hvr-icon-up;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }


/* Icon Down */
@-webkit-keyframes hvr-icon-down {
    0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%, 75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@keyframes hvr-icon-down {
    0%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    25%, 75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
/* Icon Down */
.hvr-icon-down {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .hvr-icon-down .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
        -webkit-animation-name: hvr-icon-down;
        animation-name: hvr-icon-down;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }



/* Icon Back */
.hvr-icon-back {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

    .hvr-icon-back .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-icon-back:hover .hvr-icon, .hvr-icon-back:focus .hvr-icon, .hvr-icon-back:active .hvr-icon {
        -webkit-transform: translateX(-4px);
        transform: translateX(-4px);
    }


/* Icon Rotate */
.hvr-icon-rotate {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-icon-rotate .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-icon-rotate:hover .hvr-icon, .hvr-icon-rotate:focus .hvr-icon, .hvr-icon-rotate:active .hvr-icon {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }


/* Icon Buzz Out */
@-webkit-keyframes hvr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-icon-buzz-out {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-icon-buzz-out .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .hvr-icon-buzz-out:hover .hvr-icon, .hvr-icon-buzz-out:focus .hvr-icon, .hvr-icon-buzz-out:active .hvr-icon {
        -webkit-animation-name: hvr-icon-buzz-out;
        animation-name: hvr-icon-buzz-out;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes hvr-icon-pop {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.hvr-icon-pop {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-icon-pop .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-icon-pop:hover .hvr-icon, .hvr-icon-pop:focus .hvr-icon, .hvr-icon-pop:active .hvr-icon {
        -webkit-animation-name: hvr-icon-pop;
        animation-name: hvr-icon-pop;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

/* Icon Drop */
@-webkit-keyframes hvr-icon-drop {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    51%, 100% {
        opacity: 1;
    }
}

@keyframes hvr-icon-drop {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    51%, 100% {
        opacity: 1;
    }
}
/* Icon Drop */
.hvr-icon-drop {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .hvr-icon-drop .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .hvr-icon-drop:hover .hvr-icon, .hvr-icon-drop:focus .hvr-icon, .hvr-icon-drop:active .hvr-icon {
        opacity: 0;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-animation-name: hvr-icon-drop;
        animation-name: hvr-icon-drop;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }

/* Icon Push */
@-webkit-keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

.hvr-icon-push {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-icon-push .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-icon-push:hover .hvr-icon, .hvr-icon-push:focus .hvr-icon, .hvr-icon-push:active .hvr-icon {
        -webkit-animation-name: hvr-icon-push;
        animation-name: hvr-icon-push;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

/* CSS for the checkbox */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .team-group input[type=checkbox] {
        --active: var(--fe_gray);
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: var(--fe_green);
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 30px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

    .team-group input[type=checkbox]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }

    .team-group input[type=checkbox]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }

    .team-group input[type=checkbox]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }

        .team-group input[type=checkbox]:disabled:checked {
            --b: var(--disabled-inner);
            --bc: var(--border);
        }

        .team-group input[type=checkbox]:disabled + label {
            cursor: not-allowed;
        }

    .team-group input[type=checkbox]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }

    .team-group input[type=checkbox]:focus {
        box-shadow: 0 0 0 var(--focus);
    }

    .team-group input[type=checkbox]:not(.switch) {
        width: 30px; /* the checkbox width*/
    }

        .team-group input[type=checkbox]:not(.switch):after {
            opacity: var(--o, 0);
        }

        .team-group input[type=checkbox]:not(.switch):checked {
            --o: 1;
        }

    .team-group input[type=checkbox] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    .team-group input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }

    .team-group input[type=checkbox]:not(.switch):after {
        width: 9px;
        height: 9px;
        border: 3px solid var(--fe_white);
        border-top: 0;
        border-left: 0;
        left: 10px;
        top: 8px;
        transform: rotate(var(--r, 45deg));
    }

    .team-group input[type=checkbox]:not(.switch):checked {
        --r: 47deg;
    }
}

/*This is advanced style for the dropdowns*/

.select2-container--default .select2-selection--single {
    background-color: var(--fe_white) !important;
    border: 1px solid var(--fa_gray) !important;
    border-radius: 22px !important;
    display: flex !important;
    align-items: center !important;
    height: 2.3em !important;
    padding: 0 7px !important;
    margin-bottom:2px;
}


    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 4px !important;
        right: 5px !important;
    }

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid var(--fe_gray) !important;
    border-radius: 20px !important;
    outline: transparent;
    height:27px !important;
}

    .select2-search--dropdown .select2-search__field {
        padding: 14px !important;
        font-size: 15px !important;
    }

.select2-container--open .select2-dropdown--below {
    width: 24em !important;
    border-radius: 15px !important;
    padding: 7px !important;
}

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 206px !important;
        margin-right: -5px !important;
    }

        .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
            width: 8px; /* Ancho de la barra de desplazamiento */
        }

        .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
            background-color: transparent /* Color de fondo de la pista */
        }

        .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
            background-color: var(--fe_gray); /* Color del pulgar de la barra de desplazamiento */
            border-radius: 20px;
        }

        .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Color del pulgar de la barra de desplazamiento en el estado de hover */
        }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--fe_green) !important;
    color: var(--fe_navy) !important;
    border-radius: 15px !important;
    padding-left: 10px !important;
    width: 22em !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--fe_green) !important;
    color: var(--fe_navy) !important;
    border-radius: 15px !important;
    padding-left: 10px !important;
    width: 22em !important;
}