body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
/*    background-image: url('images/Logo.png');
    background-repeat:no-repeat;
    background-position-x: 70em;
    background-position-y: 35em;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
textarea {
    max-width: 280px;
}

/* GENERALS */

:root {
    --fe_blue: #4949f9;
    --fe_green: #8bf0bb;
    --fe_navy: #09092d;
    --fe_gray: #B0B0CD;
    --fe_white: #fcfcfc;
}

a{
    text-decoration:none;
    color: var(--fe_white);
}

a:hover{
    color: var(--fe_white);
    text-decoration:none;
}

li{
    list-style:none;
}

button i{
    color:var(--fe_white);
}

/* CUSTOM RULES */

.hidden {
    display:none;
}

#view_title {
    min-height: 60px;
}


label {
    text-transform: capitalize;
    font-weight: 600;
}


/* ------- Navbar ------- */


.navbar {
    background-color: var(--fe_blue) !important;
    color: var(--fe_white);
}

.navbar-nav .nav-link {
    color: var(--fe_white);
    font-size: 15px;
    font-weight: 500;
}

.navbar-brand img {
    width: 8em;
    margin-left: 4em;
}

.logout-cnt{
    display:flex;
    padding-top:15px;
    margin-right:2.5em;
}

.logout-cnt li a{
    font-weight:600;
    font-size:1.1em;
    border-left: 5px solid var(--fe_green);
    padding-left:5px;
}


.dropdown-item:hover {
    background-color: var(--fe_blue) !important;
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
    color: var(--fe_white) !important;
}


/* ------- Buttons ------- */

.btn-general {
    width: 12em;
    height: 2.5em;
    background-color: var(--fe_green);
    color: var(--fe_navy);
    border-radius: 20px;
    padding: 0.75rem 1.25rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-general:hover {
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
    color:var(--fe_navy);
}


.btn-clear {
    background-color: var(--fe_gray);
    color: var(--fe_white);
    flex-wrap: nowrap;
}

.btns-search-cnt {
    display: flex;
    flex-wrap: nowrap !important;
    margin-top: 1.5em;
    margin-left: 0;
    align-items: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none;
    background-color: #585858;
    background: none !important;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none !important;
    background-color: transparent;
}



div.dt-buttons {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}


.buttons-excel {
    border-radius: 23px !important;
    width: 8em;
    background-color: green !important;
    border: 1px solid var(--fe_gray) !important;
    text-align: center;
}


.btn-edit {
    width: 7em;
    background-color: #e9c46a;
    font-size: 15px;
    color: var(--fe_white);
}

.btn-edit:hover{
    color: var(--fe_white);
}

.btn-delete {
    width: 7em;
    background-color: #d62828;
    font-size: 15px;
    color: var(--fe_white)
}

.btn-delete:hover {
    color: var(--fe_white);
}


.btn-add {
    background-color: #4c956c;
    margin: 2em 0;
    color: var(--fe_white)
}


.btn-add:hover{
    color: var(--fe_white);
}


#btnShowForm, #btnHideForm {
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    color: var(--fe_white);
    cursor: pointer;
}

#btnShowForm {
    margin-bottom: -8em;
    margin-top: -1em;
}

#btnHideForm{
    margin-top:0;
}

.show-btns-cnt {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 1em 0;
}


#keyInfo{
    margin-top:2em;
}

.btn_show_form::before {
    content: '';
    position: inherit;
    width: 80vh;
    height: 2px;
    margin-bottom: 10px;
    background-color: var(--fe_white);
    transition: opacity 300ms, transform 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_show_form:hover::before,
.btn_show_form:focus::before {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}


.btn_show_form::before {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.btn_show_form:hover::before,
.btn_show_form:focus::before {
    transform: scale(1);
}

/* CSS for the checkbox */

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .team-group input[type=checkbox] {
        --active: var(--fe_gray);
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: var(--fe_green);
        --border-hover: #275EFE;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 30px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }

        .team-group input[type=checkbox]:after {
            content: "";
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
        }

        .team-group input[type=checkbox]:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        .team-group input[type=checkbox]:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: 0.9;
        }

            .team-group input[type=checkbox]:disabled:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            .team-group input[type=checkbox]:disabled + label {
                cursor: not-allowed;
            }

        .team-group input[type=checkbox]:hover:not(:checked):not(:disabled) {
            --bc: var(--border-hover);
        }

        .team-group input[type=checkbox]:focus {
            box-shadow: 0 0 0 var(--focus);
        }

        .team-group input[type=checkbox]:not(.switch) {
            width: 30px; /* the checkbox width*/
        }

            .team-group input[type=checkbox]:not(.switch):after {
                opacity: var(--o, 0);
            }

            .team-group input[type=checkbox]:not(.switch):checked {
                --o: 1;
            }

        .team-group input[type=checkbox] + label {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            margin-left: 4px;
        }

        .team-group input[type=checkbox]:not(.switch) {
            border-radius: 7px;
        }

            .team-group input[type=checkbox]:not(.switch):after {
                width: 9px;
                height: 9px;
                border: 3px solid var(--fe_white);
                border-top: 0;
                border-left: 0;
                left: 10px;
                top: 8px;
                transform: rotate(var(--r, 45deg));
            }

            .team-group input[type=checkbox]:not(.switch):checked {
                --r: 47deg;
            }
}



/* ------- Form login ------- */
.main_cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("images/cover-login.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.main_cnt h1 {
    color: var(--fe_white);
    font-size: 4.5em;
    font-weight: 800;
    padding: 10px;
    margin-top: -1em;
    padding-bottom:1em;
}


.main_cnt form {
    background-color: var(--fe_white);
    height: 31.5em;
    width: 23.8em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 10px;
}





.form_log h2 {
    font-size: 1.3em;
    margin-top: 1em;
    font-weight:600;
    color: var(--fe_navy);
}

.form_log label{
    font-weight:500;
    color: var(--fe_navy);
    margin-bottom:-.5px;
}

.form_log input {
    width: 29vh;
    height: 1.9em;
    font-size: 1em;
    padding-left: .6em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 11px;
    border: 1px solid var(--fe_gray);
}


.form_log input:focus-visible{
    border: .5px solid var(--fe_green);
    outline: var(--fe_green);
}

.items-log_cnt {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}


.form_log button{
    margin-top:1em;
}


.form_log p{
    color:red;
}

form-control {
    color: var(--fe_navy);
    background-color: var(--fe_white);
    font-weight: 500;
}


.drop_login {
    border-radius: 11px;
    padding: 4px;
    border: 1px solid var(--fe_gray);
    cursor: pointer;
}


.form_log input, .drop_login {
    width: 32vh;
}


.drop_login:focus-visible {
    border: .5px solid var(--fe_green);
    outline: var(--fe_green);
}

.drop_login select{
    border-radius:11px;
}

.role-input{
    width:19em;
}

#Form_ {
    padding: 0 5em;
}

.title-adv-search{
    color:red;
}


/* ------- Tables ------- */
div .bg-primary {
    background-color: var(--fe_blue) !important;
}

.title-cnt{
    background-color:var(--fe_white);
}


.hidden {
    display: none;
}

.full-height {
    height: calc(100vh - 73px); /* In the server should be at 78px*/
    background-color: var(--fe_blue);
    background-image: url('images/FoundEver_cover.png');
    background-size: cover;
    overflow-y: hidden;
}


control-label {
    text-transform: capitalize;
}


.swal2-styled.swal2-confirm {
    width: 12em;
    height: 2.5em;
    background-color: var(--fe_green) !important;
    color: var(--fe_navy) !important;
    border-radius: 20px !important;
    font-weight: 600;
    border: none !important;
    font-size: 16px;
    cursor: pointer;
}

.swal2-styled:focus{
    box-shadow:none !important;
}



.form-control:disabled, .form-control[readonly] {
    background-color: #d5d4d4;
    opacity: 0.9;
    cursor:not-allowed;
}

.title{
    font-size:3em;
    font-weight:600;
    margin-bottom:1.2em;
}

.title-adv-search{
    padding:1em 0;
    font-weight: 700;
}


.form-control {
    border-radius: 10px;
}

input[type="radio"], input[type="checkbox"]{
    width:1.8em;
}

.form-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firts-cnt {
    display: flex !important;
    margin: 0 auto;
    margin-top:3em;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 45px;
    border: 1px solid var(--fe_white);
    height: 80%;
    padding: 3em;
    backdrop-filter: blur(6px);
}

.teams-cnt {
    display: flex;
    gap: 4em;
    margin-left: 21em;
}

.team-group{
    display:flex;
    flex-direction:column;
    align-items:center;
}


div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: 35em !important;
    border-radius: 10px;
    padding: 13px;
    height: 2em;
    border: 1px solid var(--fe_gray);
}

div.dataTables_wrapper div.dataTables_filter input:focus-visible{
    border:none !important;
}

[type="search"] {
    outline-offset: 0;
    -webkit-appearance: none;
}


div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--fe_gray);
    height:2em;
}

div.dataTables_wrapper div.dataTables_length label {
    display: flex;
    gap: 10px;
    align-items: center;
}


.table-hover tbody tr:hover {
    color: var(--fe_navy);
    background-color: #e7fbf1;
}

thead{
    background: var(--fe_blue);
    font-weight: 600;
    color: var(--fe_white);
    text-align: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: var(--fe_white);
    background-color: var(--fe_blue);
    border-color: var(--fe_navy);
    font-weight:600;
}



.bg-primary .dropdown-menu {
    background-color: var(--fe_white);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;

}

.bg-primary .dropdown-menu .dropdown-item,
.bg-primary .dropdown-menu .dropdown-item:focus {
    color: var(--fe_navy);
}



table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 1.4em !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em !important;}


.table-user-roles{
    background-color:var(--fe_blue);
    color:var(--fe_white);
}

.table-user-roles:hover{
    background-color:var(--fe_blue) !important;
    color:var(--fe_white)!important;
}

.table th,
.table td {
    vertical-align: middle;
}


/* ------- CRUDs style ------- */


.crud-cnt{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.form-create{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.form-group-modal {
    margin-left: 6em;
    width: 33em;
}


.form-group-modal-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-left: 2em;
}

.modal-body{
    padding:2em 1em;
}

.modal-content{
    border-radius:11px;
}


/* ------- Media querys keep it at the bottom pls ------- */
/* Media query for the scroll */



@media only screen and (max-width: 1440px) {
    #btnShowForm {
        margin-top: -1em;
        margin-bottom: -8em;
    }

    #search_btn {
        width: 9em;
        height: 2.3em;
        font-size: 15px;
    }

    .firts-cnt{
        height:83%;
        margin-top:2em;
    }

    .teams-cnt {
        gap: 1.5em;
        margin-left: 17em;
    }

    #btnHideForm {
        margin-top: -18px;
    }

    #Form_ {
        padding: 0 1em;
    }
}




/* Media query for the login */

@media only screen and (max-width: 1368px) {
    .main_cnt form {
        background-color: var(--fe_white);
        height: 29.5em;
        width: 21.8em;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        border-radius: 10px;
    }

    .main_cnt h1 {
        color: var(--fe_white);
        font-size: 3.5em;
        font-weight: 800;
        padding: 10px;
        margin-top: 0em;
        padding-bottom: 27px;
    }


    .form_log input, .drop_login {
        width: 31vh;
    }

    .form_log h2 {
        font-size: 1.1em;
    }
}

/* Media query for the tables */

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 105em;
    }
}

.dropdown-input {
    border-radius: 11px;
    padding-left: 8px;
    height: 2.5em !important;
    border: 1px solid var(--fe_blue) !important;
    cursor: pointer;
}

.option{
  appearance:none;
  padding: 10px;
}

option:hover{
    color: white !important;
    background-color: #585858;
}

.option {
    background-color: lightblue;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.dropdown-input option:checked {
    color: var(--fe_navy);
    font-weight: bold;
    padding:10px;
}



.dropdown-input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--fe_green);
}

